const fooManager = require('../../fooManager.js');
var barManager = require('../../barManager.js');
const fooBazManager=require('./fooBazManager');
const bobManager=  require('./bobManager');
const AliceManager  =  require('./aliceManager');
const promotionManger   =   require('../../promotionManager');

class Sample {

    test() {
        barManager.getBarMethod();
fooManager.getFooMethod();
     fooManager.getSomeOtherFooMethod();
    }


    execute() {
        barManager.getSomeOtherBarMethod();
    }
}
AliceManagerGet.notAnAliceMethod();
 AliceManager.getAliceMethod();
   AliceManager.getSomeOtherAliceMethod();bobManager.getBobMethod(); bobManager.getSomeOtherBobMethod();
module.exports = Sample;

promotionManger.getPromotions();
    promotionManger.addPromotions();